fund=false
audit=false
electron_mirror=https://npmmirror.com/mirrors/electron/
sharp_binary_host=https://npmmirror.com/mirrors/sharp
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver
onlyBuiltDependencies[]=electron
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=vue-demi
